*.env
feeds.json
*.secrets
build/**/*
!.github/*
CMakeUserPresets.json
*vcpkg_installed*
out/
.vs/
/install
Testing/
.vscode/launch.json
*.log
node_modules/
*__pycache__*
*.egg-info/
*test_detail*.xml