name: "Build Project (Linux)"

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

env:
  VCPKG_ROOT: ${{ github.workspace }}/vcpkg
  VCPKG_EXE: ${{ github.workspace }}/vcpkg/vcpkg
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/bcpearce/index.json,readwrite"
  DOCKER_REGISTRY_IMAGE: "bcpearce/hass-motion-detection-addon"

jobs:

  build_and_test_debug:
    name: Build and Test (Linux/Debug-Coverage)
    strategy:
      matrix:
        arch: [ amd64, arm64 ]
        include:
          - arch: amd64
            os: ubuntu-24.04
          - arch: arm64
            os: ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    container:
      image: bcpearce/opencv-cmake:v1-${{ matrix.arch }}
    steps:
<<<<<<< HEAD
      - uses: actions/checkout@v6
=======
      - name: Install git-lfs
        run: |
          apt-get update && apt-get install -y git-lfs
          git lfs install

      - uses: actions/checkout@v4
>>>>>>> 9e69e86 (Update CI and Working Dir)
        with:
          submodules: true
          lfs: true

      - uses: ./.github/actions/vcpkg-cache
        name: Get VCPKG Cache
        with:
          username: bcpearce
          password: ${{ secrets.GH_PACKAGES_TOKEN }}
          vcpkg-root: ${{ env.VCPKG_ROOT }}
          vcpkg-exe: ${{ env.VCPKG_EXE }}
          vcpkg-git-ref: 8f54ef5453e7e76ff01e15988bf243e7247c5eb5
          feed-url: https://nuget.pkg.github.com/bcpearce/index.json

      - name: Generate and Configure Debug-Coverage
        run: cmake . --preset=Debug-Coverage -DCMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake

      - name: Build Debug-Coverage
        run: cmake --build build/Debug-Coverage

      - name: Test Debug-Coverage
        id: test-debug-coverage
        working-directory: build/Debug-Coverage
        run: ctest --output-junit test_detail_debug.xml --output-on-failure

      - name: Generate GCOV Report
        run: |
          apt-get update && apt-get install gcovr -y
          gcovr --root ../.. --lcov -o lcov.info
        working-directory: ./build/Debug-Coverage/
        if: always()

      - name: Upload GCOV Report to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./build/Debug-Coverage/lcov.info
        if: always()

  build_and_test_release:
    name: Build and Test (Linux/Release)
    strategy:
      matrix:
        arch: [ amd64, arm64 ]
        include:
          - arch: amd64
            os: ubuntu-24.04
          - arch: arm64
            os: ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    container:
      image: bcpearce/opencv-cmake:v1-${{ matrix.arch }}
    steps:
      - name: Install git-lfs
        run: |
          apt-get update && apt-get install -y git-lfs
          git lfs install

      - uses: actions/checkout@v4
        with:
          lfs: true

      - uses: ./.github/actions/vcpkg-cache
        name: Get VCPKG Cache
        with:
          username: bcpearce
          password: ${{ secrets.GH_PACKAGES_TOKEN }}
          vcpkg-root: ${{ env.VCPKG_ROOT }}
          vcpkg-exe: ${{ env.VCPKG_EXE }}
          vcpkg-git-ref: 8f54ef5453e7e76ff01e15988bf243e7247c5eb5
          feed-url: https://nuget.pkg.github.com/bcpearce/index.json

      - name: Generate and Configure Release
        run: cmake . --preset=Release -DCMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake

      - name: Build Release
        run: cmake --build build/Release

      - name: Test Release
        working-directory: build/Release
        run: ctest --output-junit test_detail_integration_release.xml --output-on-failure

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "**/test_detail_*.xml"
        if: always()

      - name: Pack
        run: cd build/Release && cpack -G DEB  -DCPACK_DEBIAN_FILE_NAME=motion-detection-${{ matrix.arch }}.deb

      - name: Upload .deb Artifact
        uses: actions/upload-artifact@v4
        with:
          name: motion-detection-deb-${{ matrix.arch }}
          path: build/Release/motion-detection-${{ matrix.arch }}.deb
          if-no-files-found: error

  build_docker_image:
    name: Build and Upload Docker Image (Linux)
    needs: build_and_test_release
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, arm64 ]
        include:
          - arch: amd64
            os: ubuntu-24.04
            platform: linux/amd64
          - arch: arm64
            os: ubuntu-24.04-arm
            platform: linux/arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_REGISTRY_IMAGE }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download packed build
        uses: actions/download-artifact@v4
        with:
          name: motion-detection-deb-${{ matrix.arch }}
          path: ${{ github.workspace }}/docker/deploy

      - name: Build and push by digest
        uses: docker/build-push-action@v6
        id: build
        with:
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          context: .
          file: ./docker/deploy/Dockerfile
          build-args: MOTION_DETECTION_DEB=./docker/deploy/motion-detection-${{ matrix.arch }}.deb
          tags: ${{ env.DOCKER_REGISTRY_IMAGE }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - build_docker_image
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_REGISTRY_IMAGE }}
          tags: |
            type=edge,branch=main
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.DOCKER_REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.DOCKER_REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  release-debian:
    runs-on: ubuntu-latest
    needs: build_and_test_release
    if: ${{ github.ref_type == 'tag' }}
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          path: dpkg
          pattern: motion-detection-deb-*
          run-id: ${{ github.event.workflow_run.id }}
          merge-multiple: true

      - name: Draft Release
        uses: softprops/action-gh-release@v2
        with:
          files: dpkg/*
          draft: true
          token: ${{ secrets.GH_RELEASES_TOKEN }}