name: Build Project (Windows)

on:
  push:
    branches:
      - main
  pull_request:

env:
  USERNAME: bcpearce
  VCPKG_ROOT: ${{ github.workspace }}/vcpkg
  VCPKG_EXE: ${{ github.workspace }}/vcpkg/vcpkg
  VCPKG_GIT_REF: 8f54ef5453e7e76ff01e15988bf243e7247c5eb5
  FEED_URL: https://nuget.pkg.github.com/bcpearce/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/bcpearce/index.json,readwrite"

jobs:

  build_and_test_debug:
    name: Build and Test (Windows/Debug)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          lfs: true
      - name: Install LLVM (Clang) 19
        run: choco install llvm --version=19.1.5 --allow-downgrade

      - name: Get VCPKG
        run: |
            git clone https://github.com/microsoft/vcpkg.git ${{ env.VCPKG_ROOT }}
            cd ${{ env.VCPKG_ROOT }} && git checkout ${{ env.VCPKG_GIT_REF }}

      - name: Bootstrap vcpkg
        shell: pwsh
        run: ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.bat

      - name: Add NuGet sources
        shell: pwsh
        run: |
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
             sources add `
             -Source "${{ env.FEED_URL }}" `
             -StorePasswordInClearText `
             -Name GitHubPackages `
             -UserName "${{ env.USERNAME }}" `
             -Password "${{ secrets.GH_PACKAGES_TOKEN }}"
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
             setapikey "${{ secrets.GH_PACKAGES_TOKEN }}" `
             -Source "${{ env.FEED_URL }}"

      - name: Generate and Configure Debug
        run: cmake . \
          --preset=Debug \
          -DCMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake \
          -DCMAKE_CXX_COMPILER="clang++" \
          -DCMAKE_C_COMPILER="clang"

      - name: Build Debug
        run: cmake --build build/Debug

      - name: Test Debug
        working-directory: build/Debug
        run: ctest --output-junit test_detail_debug.xml --output-on-failure

      - name: End to End Test Debug
        uses: ./.github/actions/end-to-end-test
        with:
          motion-detection-exec: build/Debug/MotionDetection
          rtsp-server-exec: build/Debug/vcpkg_installed/x64-linux/tools/live555/testOnDemandRTSPServer
          resource-file: tests/res/test.264

  build_and_test_release:
    name: Build and Test (Windows/Release)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          lfs: true
      - name: Install LLVM (Clang) 19
        run: choco install llvm --version=19.1.5 --allow-downgrade

      - name: Get VCPKG
        run: |
            git clone https://github.com/microsoft/vcpkg.git ${{ env.VCPKG_ROOT }}
            cd ${{ env.VCPKG_ROOT }} && git checkout ${{ env.VCPKG_GIT_REF }}

      - name: Bootstrap vcpkg
        shell: pwsh
        run: ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.bat

      - name: Add NuGet sources
        shell: pwsh
        run: |
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
             sources add `
             -Source "${{ env.FEED_URL }}" `
             -StorePasswordInClearText `
             -Name GitHubPackages `
             -UserName "${{ env.USERNAME }}" `
             -Password "${{ secrets.GH_PACKAGES_TOKEN }}"
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
             setapikey "${{ secrets.GH_PACKAGES_TOKEN }}" `
             -Source "${{ env.FEED_URL }}"

      - name: Generate and Configure Release
        run: cmake . \
          --preset=Release \
          -DCMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake \
          -DCMAKE_CXX_COMPILER="clang++" \
          -DCMAKE_C_COMPILER="clang"

      - name: Build Release
        run: cmake --build build/Release

      - name: Test Release
        working-directory: build/Release
        run: ctest --output-junit test_detail_release.xml --output-on-failure

      - name: End to End Test Release
        uses: ./.github/actions/end-to-end-test
        with:
          motion-detection-exec: build/Release/MotionDetection
          rtsp-server-exec: build/Release/vcpkg_installed/x64-linux/tools/live555/testOnDemandRTSPServer
          resource-file: tests/res/test.264

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "**/test_detail_*.xml"
        if: always()